.nextflow.log*
.nextflow.history
work
trace.csv*
*.[eo]
*.i1*
*_out/
# testing data
Eh_frozen_ass.fa
example-data/ts24*test*.fasta
# nextflow runtime
.nextflow
# vagrant stuff
ubuntu-xenial-*-cloudimg-console.log
