env {
    PATH = "${baseDir}/RATT:${baseDir}/ABACAS2:${HOME}/annot/software/ORTHOMCLV1.4:${HOME}/genometools/bin:/software/pathogen/external/apps/usr/local/tmhmm-2.0c/bin:${HOME}/annot/software/augustus-3.0.3/bin:/software/pathogen/external/apps/usr/bin:$PATH"
    PERL5LIB = "${baseDir}/ABACAS2:$PERL5LIB"
    RATT_HOME = "${baseDir}/RATT"
    RATT_CONFIG = "${baseDir}/RATT/RATT.config_euk_NoPseudo_SpliceSite"
    GT_RETAINIDS = "yes"
    PFAM = "/lustre/scratch108/parasites/ss34/pfam/Pfam-A.hmm"
    AUGUSTUS_CONFIG_PATH = "${baseDir}/data/augustus"
    FILTER_SHORT_PARTIALS_RULE = "${baseDir}/data/filters/filter_short_partials.lua"
    PFAM2GO = "${baseDir}/data/pfam2go/pfam2go.txt"
}

params.GO_OBO = "${HOME}/go.obo"
params.NCRNA_MODELS = "${baseDir}/data/cm/rnas.cm"
params.CIRCOS_CONFIG_FILE = "${baseDir}/data/circos/circos.conf"
params.CIRCOS_BIN_CONFIG_FILE = "${baseDir}/data/circos/circos.bin.conf"
params.SPECFILE = "${baseDir}/data/speck/output_check.lua"
params.AUGUSTUS_EXTRINSIC_CFG = "${baseDir}/data/augustus/extrinsic.cfg"

executor {
    name = 'local'
    queueSize = 10
    pollInterval = '3sec'
}
