env {
    PATH = "${baseDir}/RATT:${baseDir}/ABACAS2:${HOME}/annot/software/ORTHOMCLV1.4:${HOME}/genometools/bin:/software/pathogen/external/apps/usr/local/tmhmm-2.0c/bin:${HOME}/annot/software/augustus-3.0.3/bin:/software/pathogen/external/apps/usr/bin:$PATH"
    PERL5LIB = "${baseDir}/ABACAS2:$PERL5LIB"
    RATT_HOME = "${baseDir}/RATT"
    RATT_CONFIG = "${baseDir}/RATT/RATT.config_euk_NoPseudo_SpliceSite"
    GT_RETAINIDS = "yes"
    PFAM = "/lustre/scratch108/parasites/ss34/pfam/Pfam-A.hmm"
    AUGUSTUS_CONFIG_PATH = "${baseDir}/data/augustus"
    FILTER_SHORT_PARTIALS_RULE = "${baseDir}/data/filters/filter_short_partials.lua"
    PFAM2GO = "${baseDir}/data/pfam2go/pfam2go.txt"
}

params.GO_OBO = "${HOME}/go.obo"
params.NCRNA_MODELS = "${baseDir}/data/cm/rnas.cm"
params.CIRCOS_CONFIG_FILE = "${baseDir}/data/circos/circos.conf"
params.CIRCOS_BIN_CONFIG_FILE = "${baseDir}/data/circos/circos.bin.conf"
params.SPECFILE = "${baseDir}/data/speck/output_check.lua"
params.AUGUSTUS_EXTRINSIC_CFG = "${baseDir}/data/augustus/extrinsic.cfg"

process.memory = "2 GB"
process.clusterOptions = " -R 'select[mem>2048] rusage[mem=2048]' "
process.$contiguate_pseudochromosomes.memory = "4 GB"
process.$contiguate_pseudochromosomes.clusterOptions = " -R 'select[mem>4096] rusage[mem=4096]' "
process.$blast_for_circos.memory = "8 GB"
process.$blast_for_circos.clusterOptions = " -R 'select[mem>8192] rusage[mem=8192]' "
// process.$run_ratt.memory = "32 GB"
// process.$run_ratt.clusterOptions = " -R 'select[mem>32768] rusage[mem=32768]' "
// process.$run_ratt.queue = "basement"
process.$run_ratt.memory = "4 GB"
process.$run_ratt.clusterOptions = " -R 'select[mem>4096] rusage[mem=4096]' "
//process.$run_ratt.queue = "long"
// process.$run_exonerate.memory = "8 GB"
// process.$run_exonerate.clusterOptions = " -R 'select[mem>8192] rusage[mem=8192]' "
process.$run_augustus_contigs.memory = "4 GB"
process.$run_augustus_contigs.clusterOptions = " -R 'select[mem>4096] rusage[mem=4096]' "
//process.$run_augustus_contigs.queue = "long"
process.$run_augustus_pseudo.memory = "4 GB"
process.$run_augustus_pseudo.clusterOptions = " -R 'select[mem>4096] rusage[mem=4096]' "
//process.$run_augustus_pseudo.queue = "long"
process.$predict_ncRNA.memory = "8 GB"
process.$predict_ncRNA.clusterOptions = " -R 'select[mem>8192] rusage[mem=8192]' "

executor {
    name = 'lsf'
    queueSize = 150
    pollInterval = '120sec'
}
