env {
    GT_RETAINIDS = "yes"
    SNAP_MODEL = "/opt/data/snap/LmjF.hmm"
    AUGUSTUS_CONFIG_PATH = "/opt/data/augustus"
    GO_OBO = "/opt/go.obo"
    NCRNA_MODELS = "/opt/data/cm/kinetoplastid_rnas.cm"
    FILTER_SHORT_PARTIALS_RULE = "/opt/data/filters/filter_short_partials.lua"
}

process {
    container = 'satta/annot-nf:latest'
}

docker {
    enabled = true
}