env {
    PATH = "${ROOTDIR}/RATT:${ROOTDIR}/ABACAS2:${ROOTDIR}/ORTHOMCLV1.4:${ROOTDIR}/genometools/bin:${ROOTDIR}/aragorn:${ROOTDIR}/augustus/bin:$PATH"
    PERL5LIB = "${ROOTDIR}/ORTHOMCLV1.4/:${ROOTDIR}/RATT/:${ROOTDIR}/ABACAS2/:${PERL5LIB}"
    RATT_HOME = "${ROOTDIR}/RATT"
    GT_RETAINIDS = "yes"
    PFAM = "${ROOTDIR}/Pfam-A.hmm"
    SNAP_MODEL = "${ROOTDIR}/data/snap/LmjF.hmm"
    AUGUSTUS_CONFIG_PATH = "${ROOTDIR}/data/augustus"
    FILTER_SHORT_PARTIALS_RULE = "${ROOTDIR}/data/filters/filter_short_partials.lua"
    PFAM2GO = "${ROOTDIR}/data/pfam2go/pfam2go.txt"
}

params.GO_OBO = "${ROOTDIR}/go.obo"
params.NCRNA_MODELS = "${ROOTDIR}/data/cm/kinetoplastid_rnas.cm"

executor {
    name = 'local'
    queueSize = 5
    pollInterval = '1sec'
}
