env {
    PATH = "${baseDir}/RATT:${baseDir}/ABACAS2:${baseDir}/ORTHOMCLV1.4:${baseDir}/genometools/bin:${baseDir}/aragorn:${baseDir}/augustus/bin:${baseDir}/augustus/scripts/:$PATH"
    PERL5LIB = "${baseDir}/ORTHOMCLV1.4/:${baseDir}/RATT/:${baseDir}/ABACAS2/:${PERL5LIB}"
    RATT_HOME = "${baseDir}/RATT"
    RATT_CONFIG = "${baseDir}/RATT/RATT.config_euk_NoPseudo_SpliceSite"
    GT_RETAINIDS = "yes"
    PFAM = "${baseDir}/Pfam-A.hmm"
    AUGUSTUS_CONFIG_PATH = "${baseDir}/data/augustus"
    FILTER_SHORT_PARTIALS_RULE = "${baseDir}/data/filters/filter_short_partials.lua"
    PFAM2GO = "${baseDir}/data/pfam2go/pfam2go.txt"
}

params.GO_OBO = "${baseDir}/go.obo"
params.NCRNA_MODELS = "${baseDir}/data/cm/rnas.cm"
params.CIRCOS_CONFIG_FILE = "${baseDir}/data/circos/circos.debian.conf"
params.CIRCOS_BIN_CONFIG_FILE = "${baseDir}/data/circos/circos.bin.debian.conf"
params.SPECFILE = "${baseDir}/data/speck/output_check.lua"
params.AUGUSTUS_EXTRINSIC_CFG = "${baseDir}/data/augustus/extrinsic.cfg"

executor {
    name = 'local'
    queueSize = 5
    pollInterval = '1sec'
}
