env {
    PATH = "${ROOTDIR}/RATT:${ROOTDIR}/ABACAS2:${HOME}/annot/software/ORTHOMCLV1.4:${HOME}/genometools/bin:/software/pathogen/external/apps/usr/local/tmhmm-2.0c/bin:${HOME}/annot/software/augustus-3.0.3/bin:/software/pathogen/external/apps/usr/bin:$PATH"
    RATT_HOME = "${ROOTDIR}/RATT"
    RATT_CONFIG = "${ROOTDIR}/RATT/RATT.config_euk_NoPseudo_SpliceSite"
    GT_RETAINIDS = "yes"
    PFAM = "/lustre/scratch108/parasites/ss34/pfam/Pfam-A.hmm"
    SNAP_MODEL = "${ROOTDIR}/data/snap/LmjF.hmm"
    AUGUSTUS_CONFIG_PATH = "${ROOTDIR}/data/augustus"
    FILTER_SHORT_PARTIALS_RULE = "${ROOTDIR}/data/filters/filter_short_partials.lua"
    PFAM2GO = "${ROOTDIR}/data/pfam2go/pfam2go.txt"
}

params.GO_OBO = "${HOME}/go.obo"
params.NCRNA_MODELS = "${ROOTDIR}/data/cm/kinetoplastid_rnas.cm"
params.CIRCOS_CONFIG_FILE = "${ROOTDIR}/data/circos/circos.conf"
params.SPECFILE = "${ROOTDIR}/data/speck/new_gff_format.lua"
params.AUGUSTUS_EXTRINSIC_CFG = "${ROOTDIR}/data/augustus/extrinsic.cfg"

process.memory = "2 GB"
process.clusterOptions = " -R 'select[mem>2048] rusage[mem=2048]' "
process.contiguate_pseudochromosomes.memory = "6 GB"
process.contiguate_pseudochromosomes.clusterOptions = " -R 'select[mem>6144] rusage[mem=6144]' "
process.$run_ratt.memory = "6 GB"
process.$run_ratt.clusterOptions = " -R 'select[mem>6144] rusage[mem=6144]' "
process.$run_augustus_pseudo.memory = "2 GB"
process.$run_augustus_pseudo.clusterOptions = " -R 'select[mem>2048] rusage[mem=2048]' "
process.$predict_ncRNA.memory = "3 GB"
process.$predict_ncRNA.clusterOptions = " -R 'select[mem>3072] rusage[mem=3072]' "
process.$integrate_genemodels.memory = "3 GB"
process.$integrate_genemodels.clusterOptions = " -R 'select[mem>3072] rusage[mem=3072]' "

executor {
    name = 'lsf'
    queueSize = 70
    pollInterval = '5sec'
}
