env {
    PATH = "${ROOTDIR}/RATT:${ROOTDIR}/ABACAS2:${HOME}/annot/software/ORTHOMCLV1.4:${HOME}/genometools/bin:/software/pathogen/external/apps/usr/local/tmhmm-2.0c/bin:${HOME}/annot/software/augustus-3.0.3/bin:/software/pathogen/external/apps/usr/bin:$PATH"
    RATT_HOME = "${ROOTDIR}/RATT"
    GT_RETAINIDS = "yes"
    SNAP_MODEL = "${ROOTDIR}/data/snap/LmjF.hmm"
    AUGUSTUS_CONFIG_PATH = "${ROOTDIR}/data/augustus"
    FILTER_SHORT_PARTIALS_RULE = "${ROOTDIR}/data/filters/filter_short_partials.lua"
}

env {
    GT_RETAINIDS = "yes"
    SNAP_MODEL = "/opt/data/snap/LmjF.hmm"
    AUGUSTUS_CONFIG_PATH = "/opt/data/augustus"
    FILTER_SHORT_PARTIALS_RULE = "/opt/data/filters/filter_short_partials.lua"
    PFAM = "/opt/pfam/Pfam-A.hmm"
}

params.GO_OBO = "${HOME}/go.obo"
params.NCRNA_MODELS = "${ROOTDIR}/data/cm/kinetoplastid_rnas.cm"
