manifest {
    homePage = 'http://github.com/satta/annot-nf'
    description = 'Kinetoplastid annotation pipeline'
    mainScript = 'annot.nf'
}

includeConfig 'params_default.config'

profiles {
	docker { includeConfig 'loc_docker.config' }
	sanger { includeConfig 'loc_sanger.config' }
	sanger_farm { includeConfig 'loc_sanger_farm.config' }
	travis { includeConfig 'loc_travis.config' }
}