params {
    inseq = '/lustre/scratch109/sanger/ss34/nxf-test/L_donovani.fasta.1'

    ref_seq = '/lustre/scratch109/sanger/ss34/nxf-test/L_major.fasta.1'
    ref_annot = '/lustre/scratch109/sanger/ss34/nxf-test/Lmajor.gff3.1'

    go_obo = "${HOME}/go.obo"

    ncrna_models = '/nfs/users/nfs_s/ss34/annot/skel/1_rnasearch/cms/kinetoplastid_rnas.cm'

    run_exonerate = false

    GENOME_PREFIX = "LDON"
    CHR_PATTERN = "LDON_(%d+)"

    ABACAS_CHR_PATTERN = 'LmjF.(%d+)'
    ABACAS_CHR_PREFIX = "LDON"
    ABACAS_SEQ_PREFIX = "LDON"
    ABACAS_BIN_CHR = "LDON_0"

    RATT_TRANSFER_TYPE = 'Species'

    AUGUSTUS_SPECIES = 'leishmania_major_sampled'
    AUGUSTUS_GENEMODEL = 'intronless'
    AUGUSTUS_EXTRINSIC_CFG = '/nfs/users/nfs_s/ss34/test-nxf/extrinsic.cfg'
    AUGUSTUS_CONFIG_PATH="/nfs/users/nfs_s/ss34/annot/software/augustus.2.7/config/"
    AUGUSTUS_HINTS_MAXINTRONLEN = '1'

    SNAP_MODEL = '/nfs/users/nfs_s/ss34/annot/skel/models/LmjF/LmjF.hmm'

    FILTER_SHORT_PARTIALS_RULE = '/nfs/users/nfs_s/ss34/annot/skel/scripts/filter_short_partials.lua'

    OMCL_PEPFILES = [["LmjF", "${HOME}/annot/genomes/L_major/L_major.pep"]]//,
//                     ["Lbra", "${HOME}/annot/genomes/L_braziliensis/L_braziliensis.pep"],
 //                    ["Linf", "${HOME}/annot/genomes/L_infantum/Linfantum.pep"]]
    OMCL_GFFFILE = "${HOME}/annot/genomes/L_major/Lmajor.gff3.gz"
    OMCL_GAFFILE = "${HOME}/annot/genomes/L_major/L_major.gaf"
    OMCL_TAXON_ID = 4711
    OMCL_DB = "GeneDB"
}

env {
    PATH = "/nfs/pathogen003/tdo/Tools/PAGIT/64bit/PAGIT/RATT:${HOME}/annot/software/ORTHOMCLV1.4:${HOME}/genometools/bin:/nfs/pathogen003/tdo/Tools/ABACAS2/:/software/pathogen/external/apps/usr/local/tmhmm-2.0c/bin:/software/pathogen/external/apps/usr/bin:$PATH"
    RATT_HOME = "/nfs/pathogen003/tdo/Tools/PAGIT/64bit/PAGIT/RATT"
    GT_RETAINIDS = "yes"
}

executor {
    name = 'local'
    queueSize = 10
    pollInterval = '1sec'
}

manifest {
    homePage = 'http://github.com/satta/annot-nf'
    description = 'Kinetoplastid annotation pipeline'
    mainScript = 'annot.nf'
}