params {

    inseq = "${ROOTDIR}/example-data/L_donovani.fasta.1"

    ref_seq = "${ROOTDIR}/example-data/L_major.fasta.1"
    ref_annot = "${ROOTDIR}/example-data/Lmajor.gff3.1"

    go_obo = "${HOME}/go.obo"

    ncrna_models = "${ROOTDIR}/data/cm/kinetoplastid_rnas.cm"

    run_exonerate = false

    GENOME_PREFIX = "LDON"
    CHR_PATTERN = "LDON_(%d+)"

    ABACAS_CHR_PATTERN = 'LmjF.(%d+)'
    ABACAS_CHR_PREFIX = "LDON"
    ABACAS_SEQ_PREFIX = "LDON"
    ABACAS_BIN_CHR = "LDON_0"

    RATT_TRANSFER_TYPE = 'Species'

    AUGUSTUS_SPECIES = 'leishmania_major_sampled'
    AUGUSTUS_GENEMODEL = 'intronless'
    AUGUSTUS_EXTRINSIC_CFG = 'extrinsic.cfg'
    AUGUSTUS_CONFIG_PATH="${ROOTDIR}/data/augustus"
    AUGUSTUS_HINTS_MAXINTRONLEN = '1'

    SNAP_MODEL = "${ROOTDIR}/data/snap/LmjF.hmm"

    FILTER_SHORT_PARTIALS_RULE = "${ROOTDIR}/data/filters/filter_short_partials.lua"

    OMCL_PEPFILES = [["LmjF", "${ROOTDIR}/example-data/L_major.pep.1"]]
    OMCL_GFFFILE = "${ROOTDIR}/example-data/Lmajor.gff3.1"
    OMCL_GAFFILE = "${ROOTDIR}/example-data/L_major.gaf.1"
    OMCL_TAXON_ID = 4711
    OMCL_DB = "GeneDB"
}

env {
    PATH = "/nfs/pathogen003/tdo/Tools/PAGIT/64bit/PAGIT/RATT:${HOME}/annot/software/ORTHOMCLV1.4:${HOME}/genometools/bin:/nfs/pathogen003/tdo/Tools/ABACAS2/:/software/pathogen/external/apps/usr/local/tmhmm-2.0c/bin:${HOME}/annot/software/augustus-3.0.3/bin:/software/pathogen/external/apps/usr/bin:$PATH"
    RATT_HOME = "/nfs/pathogen003/tdo/Tools/PAGIT/64bit/PAGIT/RATT"
    GT_RETAINIDS = "yes"
}

executor {
    name = 'local'
    queueSize = 10
    pollInterval = '3sec'
}

manifest {
    homePage = 'http://github.com/satta/annot-nf'
    description = 'Kinetoplastid annotation pipeline'
    mainScript = 'annot.nf'
}