params {
    // input sequence
    inseq = "${baseDir}/example-data/L_donovani.fasta.1"

    // reference data -- paths must be absolute
    ref_dir = "${baseDir}/example-data/references"
    ref_species = "LmjF.1"

    // output directory, if desired
    // dist_dir = "${baseDir}"

    // enable/disable parts of the pipeline
    run_exonerate    = false
    run_snap         = true
    do_contiguation  = true
    do_circos        = true
    make_embl        = true
    use_reference    = true
    fix_polycistrons = true

    // naming patterns
    GENOME_PREFIX = "LDON"
    CHR_PATTERN = "LDON_(%d+)"
    MAX_GENE_LENGTH = 20000
    ABACAS_CHR_PATTERN = 'LmjF.(%d+)'
    ABACAS_CHR_PREFIX = "LDON"
    ABACAS_SEQ_PREFIX = "LDON"
    ABACAS_BIN_CHR = "LDON_0"

    // RATT parameters
    RATT_TRANSFER_TYPE = 'Species'

    // AUGUSTUS parameters
    AUGUSTUS_SPECIES = 'leishmania_major_sampled'
    AUGUSTUS_GENEMODEL = 'intronless'
    AUGUSTUS_HINTS_MAXINTRONLEN = '1'
    AUGUSTUS_SCORE_THRESHOLD = 0.7

    // SNAP model
    SNAP_MODEL = "${baseDir}/data/snap/LmjF.hmm"

    // Weight description file for kinetoplastids
    WEIGHT_FILE = "${baseDir}/data/weight/weight_kinetoplastid.lua"

    // Transcript (e.g. RNA-seq) evidence file to use for hints generation
    // (GTF as produced by cufflinks/cuffmerge/...)
    //TRANSCRIPT_FILE = ""

    // EMBL file metadata
    EMBL_AUTHORS = "Foo Bar"
    EMBL_TITLE = "Baz"
    EMBL_PUBLICATION = "Quux"
    EMBL_GENOME_TYPE = "XXX"
    EMBL_CLASSIFICATION = "XXXX"
    EMBL_ORGANISM = "Leishmania donovani"
    EMBL_PROJ_ACCESSION = "123456"
    EMBL_DESCRIPTION = "Foo bar"

    // output GAF metadata
    TAXON_ID = 4711
    DB_ID = "GeneDB"
}