params {
    inseq = "${ROOTDIR}/example-data/L_donovani.fasta.1"

    ref_seq = "${ROOTDIR}/example-data/L_major.fasta.1"
    ref_annot = "${ROOTDIR}/example-data/Lmajor.gff3.1"

    run_exonerate = false
    do_contiguation = true

    GENOME_PREFIX = "LDON"
    CHR_PATTERN = "LDON_(%d+)"

    ABACAS_CHR_PATTERN = 'LmjF.(%d+)'
    ABACAS_CHR_PREFIX = "LDON"
    ABACAS_SEQ_PREFIX = "LDON"
    ABACAS_BIN_CHR = "LDON_0"

    RATT_TRANSFER_TYPE = 'Species'

    AUGUSTUS_SPECIES = 'leishmania_major_sampled'
    AUGUSTUS_GENEMODEL = 'intronless'
    AUGUSTUS_EXTRINSIC_CFG = 'extrinsic.cfg'
    AUGUSTUS_HINTS_MAXINTRONLEN = '1'

    OMCL_PEPFILES = [["LmjF", "${ROOTDIR}/example-data/L_major.pep.1"]]
    OMCL_GFFFILE = "${ROOTDIR}/example-data/Lmajor.gff3.1"
    OMCL_GAFFILE = "${ROOTDIR}/example-data/L_major.gaf.1"

    TAXON_ID = 4711
    DB_ID = "GeneDB"
}