params {
    // input sequence
    inseq = "${baseDir}/example-data/L_donovani.1.fasta"

    // reference data -- paths must be absolute
    ref_dir = "${baseDir}/example-data/references"
    ref_species = "LmjF.1"

    // output directory, if desired
    // dist_dir = "${baseDir}"

    // enable/disable parts of the pipeline
    run_exonerate          = false
    run_snap               = true
    run_ratt               = true
    do_contiguation        = true
    do_circos              = true
    do_pseudo              = true
    make_embl              = true
    use_reference          = true
    fix_polycistrons       = true
    truncate_input_headers = true

    // make submission-compatible EMBL files
    embl_ena_submission = false

    // naming patterns
    GENOME_PREFIX = "LDON"
    CHR_PATTERN = "LDON_(%w+)"
    MAX_GENE_LENGTH = 20000
    ABACAS_BIN_CHR = "LDON_0"
    alphanumeric_ids = false

    // ABACAS min match length and similarity
    ABACAS_MATCH_SIZE = 500
    ABACAS_MATCH_SIM = 85

    // RATT parameters
    RATT_TRANSFER_TYPE = 'Species'

    // AUGUSTUS parameters
    AUGUSTUS_GENEMODEL = 'partial'
    AUGUSTUS_HINTS_MAXINTRONLEN = '1'
    AUGUSTUS_SCORE_THRESHOLD = 0.8

    // Weight description file
    // This is a Lua script that needs to implement a function
    // `get_weight(gene, regionmapping)'' and assigns a number to be used as
    // weight in finding an optimal chain of genes in overlapping clusters
    // The default is kinetoplastid-specific, use 'weight_multiexon_generic.lua'
    // for a less biased setting.
    WEIGHT_FILE = "${baseDir}/data/weight/weight_kinetoplastid.lua"

    // Template for spec check output
    SPECK_TEMPLATE = "html"

    // Transcript (e.g. RNA-seq) evidence file to use for hints generation
    // (GTF as produced by cufflinks/cuffmerge/...)
    //TRANSCRIPT_FILE = ""

    // EMBL file metadata
    EMBL_AUTHORS = "Foo Bar"
    EMBL_TITLE = "Baz"
    EMBL_PUBLICATION = "Quux"
    EMBL_GENOME_TYPE = "XXX"
    EMBL_CLASSIFICATION = "XXXX"
    EMBL_ORGANISM = "Leishmania donovani"
    EMBL_PROJ_ACCESSION = "123456"
    EMBL_DESCRIPTION = "Foo bar"

    // output GAF metadata
    TAXON_ID = 4711
    DB_ID = "Companion"
}
